<!DOCTYPE html>
<html>
    <head>
        <title> Menú </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
<div class="contenedor">
    <h1>Menú de la Cafetería</h1>
    {% for producto in productos %}
    <div class="item-menu" style="margin-bottom: 20px; border-bottom: 1px solid #ccc; padding-bottom: 10px;">
        <label><strong>{{ producto.nombre }}</strong> - ${{ producto.precio }}</label>
        
        <form action="{{ url_for('agregar_producto', id_producto=producto.id_producto) }}" method="POST">
            <div style="display: flex; gap: 10px; margin-top: 10px;">
                <input type="number" name="cantidad" value="1" min="1" 
                       style="width: 60px; padding: 5px;" required>
                <button type="submit" class="boton-formulario" style="margin-top: 0;">
                    Agregar al pedido
                </button>
            </div>
        </form>
    </div>
    {% endfor %}
    <br>
    <a href="{{ url_for('ticket') }}" style="color: white; display: block; text-align: center;">Ver mi Ticket</a>
</div>
    </body>
</html>