<!DOCTYPE html>
<html>
    <head>
        <title>Ticket de Compra</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body style="background-color: #333;">
<div class="contenedor" style="width: 400px; color: white;">
    <h1>Ticket de Compra</h1>
    <hr>
    {% for item in pedido.productos %}
    <div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
        <span>{{ item.cantidad }}x {{ item.producto.nombre }}</span>
        <span>${{ "{:,.2f}".format(item.subtotal_neto) }}</span>
    </div>
    <small style="display: block; margin-bottom: 10px; color: #ffd1f3;">
        (Desc. aplicado: ${{ "{:,.2f}".format(item.monto_descuento) }})
    </small>
    {% endfor %}
    
    <hr>
    <div style="text-align: right;">
        <p>Subtotal neto: ${{ "{:,.2f}".format(pedido.suma_subtotales) }}</p>
        <p>IVA (16%): ${{ "{:,.2f}".format(pedido.monto_iva) }}</p>
        <h2 style="color: #157115;">TOTAL: ${{ "{:,.2f}".format(pedido.total_final) }}</h2>
    </div>
    
    <a href="{{ url_for('menu') }}" style="color: white; text-align: center; display: block;">Volver al menú</a>
</div>
<div class="contenedor">
    <div style="margin-top: 30px; display: flex; flex-direction: column; gap: 10px;">
            <a href="{{ url_for('menu') }}" class="boton-agregar" 
            style="text-decoration: none; text-align: center;">
            Seguir comprando
        </a>

        <a href="{{ url_for('limpiar_pedido') }}" class="boton-limpiar" 
            style="text-decoration: none; text-align: center;"
            onclick="return confirm('¿Estás seguro de que quieres borrar todo el pedido?')">
            Limpiar Pedido / Nuevo Cliente
        </a>
    </div>
</div>
    </body>
</html>